{
    "presets": [
        "@babel/preset-env",    // es6
        "@babel/preset-react"   // jsx     
        // "stage-0",           // stage全能，配置jsx也需要  "babel-preset-stage-0": "^6.24.1",
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",  // 动态import
        "transform-class-properties"            // class Index {} 语法解析
    ]
}
// 配置es6 sudo npm install @babel/core @babel/preset-env babel-loader -D
// 配置jsx sudo npm install react react-dom @babel/preset-react -D